<div class="home">
  <img src="https://i.postimg.cc/4x12v2cB/triangle-top.png" class="triangulo1" alt="Triangulo 1">
  <img src="https://i.postimg.cc/WpQyskj6/triangle-left.png" class="triangulo2" alt="Triangulo 2">
  <img src="https://i.postimg.cc/MZc4kDkp/circle.png" class="circle" alt="Circulo">
  <nav>
    <h1 class="ncb">Christian Alexis Cruz Arango</h1>
  </nav>
  <div class="row">
    <div class="col-1">
      <img src="https://c.tenor.com/p2eovClgAMoAAAAd/designer-coffee-break.gif" alt="Desarrollador">
      <img src="https://i.postimg.cc/2SYXZN11/elements.png" class="elements" alt="Elementos">
    </div>
    <div class="col-2">
      <h1>Prueba<br> <span>Aseo</span> Regional</h1>
      <p>Pruebas Tecnicas - Desarrollo</p>
      <a routerLink="administracion/autors" class="btn btn-danger">Ingresar</a>
    </div>
  </div>
</div>
